-- AlterTable
ALTER TABLE "User" ADD COLUMN     "emailVerified" BOOLEAN NOT NULL DEFAULT false;

-- CreateTable
CREATE TABLE "Profile" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "weeklyTargetH" INTEGER NOT NULL DEFAULT 3,
    "goal" TEXT NOT NULL DEFAULT '',
    "activities" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "homeGymId" TEXT,
    "privacy" JSONB NOT NULL DEFAULT '{}',
    "units" TEXT NOT NULL DEFAULT 'mi',
    "experience" TEXT NOT NULL DEFAULT 'beginner',
    "notifications" JSONB NOT NULL DEFAULT '{}',
    "onboardingCompleted" BOOLEAN NOT NULL DEFAULT false,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Profile_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Profile_userId_key" ON "Profile"("userId");

-- AddForeignKey
ALTER TABLE "Profile" ADD CONSTRAINT "Profile_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

